# Day 06: The Loop of Infinity (For Loops) üîÅ

## üëã Welcome Back!
Imagine you have to print "I will not talk in class" 100 times.
* **The Noob Way:** Copy-paste the print statement 100 times. (Boring, hurts fingers).
* **The Pro Way:** Write a loop that runs 100 times. (Takes 2 seconds).

Today, we learn the **DRY Principle**: **D**on't **R**epeat **Y**ourself.

---

## üé¢ Topic 1: The `for` Loop
A loop allows you to repeat a block of code a specific number of times.

[Image of for loop flowchart python]

**Syntax:**
```python
for variable_name in range(number):
    # Do something

In [1]:
# The "Bart Simpson" Punishment
# We use 'i' as a variable name (short for Iteration or Index)
for i in range(5):
    print("I will not talk in class.")
    print(f"This is line number {i}")

I will not talk in class.
This is line number 0
I will not talk in class.
This is line number 1
I will not talk in class.
This is line number 2
I will not talk in class.
This is line number 3
I will not talk in class.
This is line number 4

#### Why i?

**Question**: "Why do we always use i?"

**Answer**: "It stands for `Index` or `Iterator`. But honestly? It's just tradition. You can name it banana and Python won't care. But please use i or number."

### üß† The "Zero" Rule
Notice that `i` started at **0**, not 1.
* Python counts from 0.
* `range(5)` gives you: 0, 1, 2, 3, 4. (Total 5 numbers).

---

## üìè Topic 2: The `range()` Function
The `range()` function is a number generator. It can take 3 inputs (arguments):
`range(start, stop, step)`

1.  **Start:** Where to begin (inclusive).
2.  **Stop:** Where to end (**EXCLUSIVE** - Up to, but not including).
3.  **Step:** How many steps to jump.

In [2]:
# 1. Simple Range (0 to 9)
print("--- Simple ---")
for num in range(10):
    print(num)

# 2. Start and Stop (1 to 10)
# Note: To get 10, we must stop at 11!
print("--- Start/Stop ---")
for num in range(1, 11):
    print(num)

# 3. The Step (Odd numbers only)
# Start at 1, Stop at 10, Jump by 2
print("--- Stepping ---")
for num in range(1, 10, 2):
    print(num)

--- Simple ---
0
1
2
3
4
5
6
7
8
9
--- Start/Stop ---
1
2
3
4
5
6
7
8
9
10
--- Stepping ---
1
3
5
7
9

In [3]:
# 4. Going Backwards! (Countdown)
# Start at 10, Stop at 0, Step -1
print("--- Countdown ---")
for i in range(10, 0, -1):
    print(i)
print("Blast off! üöÄ")

--- Countdown ---
10
9
8
7
6
5
4
3
2
1
Blast off! üöÄ

#### The "Off by One" Error

**The Struggle**: This is the most famous bug in computer science.

**The Concept**: Students will write range(1, 10) expecting it to print 10. It prints 9.

**Analogy**: "The Stop value is a Stop Sign. You don't drive ONTO the stop sign. You stop right BEFORE it."

---
### ‚ûï Topic 3: The Accumulator (Summing things up)
Loops are great for math. Imagine you want to add up numbers from 1 to 100 (1 + 2 + 3 + ...). We use a variable outside the loop to keep the score.

In [4]:
total = 0 # This is our empty bucket

for number in range(1, 101): # 1 to 100
    total += number # Add the number to the bucket

print(f"The sum of 1 to 100 is: {total}")

The sum of 1 to 100 is: 5050

---
## üèãÔ∏è Day 6 Activities: Loop Drills

### Level 1: The Name Repeater üó£Ô∏è
Ask the user for their `name` and a `number`.
Print their name that many times using a loop.

In [2]:
# Write your code here for Level 1
name = input("Enter your name")
random_num = int(input("Enter a number less than 10"))
for i in range(random_num):
    print(name)

qwerty
qwerty
qwerty
qwerty
qwerty
qwerty
qwerty

### Level 2: The Pattern Printer üß±
Write a loop that prints this pattern (using math, not hardcoding strings):
```text
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
...
10 * 10 = 100

In [3]:
# Write your code here for Level 2
for i in range(1,11):
    print(f"{i} * {i} = {i*i}")

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

### Level 3: The Evens Only (Step) üëü
Print all **Even** numbers from 1 to 20 using the `step` argument in `range()`.
*(Hint: Start at 2).*

In [4]:
# Write your code here for Level 3
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Level 4: The Factorial Calculator ‚ùóÔ∏è
A factorial (written as `5!`) is `5 * 4 * 3 * 2 * 1`.
1. Ask for a number (e.g., 5).
2. Use a loop to calculate the factorial.
3. Print the result (120).
*Hint: Instead of `total = 0`, you might need `total = 1` for multiplication.*

In [3]:
# Write your code here for Level 4
any_num = int(input("Enter a number"))
x = 1
for i in range(1,any_num+1):
    x = i * x
    # print(x)
print(f"{any_num}! = {x}")

6! = 720

#### HINT
#### The Factorial Trap (Level 4)

Students will set result = 0 because they are used to initiating a variable with 0 value.

**Result**: 0 * 5 * 4... returns 0.

**Correction**: "When adding, start with 0. When multiplying, start with 1."

### Level 5: The "FizzBuzz" Interview Question üëî
This is a real job interview question!
Loop from **1 to 50**.
* If the number is divisible by 3, print **"Fizz"**.
* If the number is divisible by 5, print **"Buzz"**.
* If divisible by **both**, print **"FizzBuzz"**.
* Otherwise, just print the number.

In [6]:
# Write your code here for Level 5
# any_num = int(input("Enter any number"))

for i in range(1,50):
    if (i%3 == 0) and (i%5 == 0):
        print("FizzBuzz")
    elif (i%3 == 0):
        print("Fizz")
    elif (i%5 == 0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [7]:
# print tables of 1 to 10

for x in range(1,11):
    print(f"Table of {x}")
    for y in range(1,11):
        print(f"{x} * {y} = {x*y}")

Table of 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Table of 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Table of 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Table of 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Table of 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100