In [3]:
# Windows ==> \r\n
# Unix ==> \n

with open("text.txt", "rb") as f:

    content = f.read()
    print(content)

b'my name is Bhaskar\nI love python \nI like to play badminton'

In [7]:
# Writing header
import csv

# newline is needed only with csv module

with open("new_file.csv", "w", newline="") as f:
    fieldnames = ["name", "age", "city"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)

    writer.writeheader()   # recommended
    writer.writerow({"name": "Alice", "age": 23, "city": "Pune"})
    writer.writerow({"name": "Bob", "age": 25, "city": "Mumbai"})
    writer.writerow({"name": "Charlie", "age": 22, "city": "Delhi"})

In [ ]:
# Writing Multiple Rows using csv.writer()

import csv

rows = [
    ["name", "age", "city"],   # header
    ["Alice", 23, "Pune"],
    ["Bob", 25, "Mumbai"],
    ["Charlie", 22, "Delhi"]
]

with open("data.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(rows)

In [ ]:
# Writing Multiple Rows using csv.DictWriter()

import csv

data = [
    {"name": "Alice", "age": 23, "city": "Pune"},
    {"name": "Bob", "age": 25, "city": "Mumbai"},
    {"name": "Charlie", "age": 22, "city": "Delhi"},
]

with open("data.csv", "w", newline="") as f:
    fieldnames = ["name", "age", "city"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerows(data)

In [9]:
# Writing Multiple Rows using csv.DictWriter()

import csv

data = [
    {"name": "Alice", "age": 23, "city": "Pune"},
    {"name": "Bob", "age": 25, "city": "Mumbai"},
    {"name": "Charlie", "age": 22, "city": "Delhi"},
]

with open("new_file.csv", "r", newline="") as f:
    reader = csv.DictReader(f)
    print(reader.fieldnames)  # header
    print(list(reader))

['name', 'age', 'city']
[{'name': 'Alice', 'age': '23', 'city': 'Pune'}, {'name': 'Bob', 'age': '25', 'city': 'Mumbai'}, {'name': 'Charlie', 'age': '22', 'city': 'Delhi'}]

In [ ]:
headers = ["name", "age", "city"]

values = [
    ["Alice", 23, "Pune"],
    ["Bob", 25, "Mumbai"],
    ["Charlie", 22, "Delhi"]
]

# blank dict
# for loop on values
# add key and value in dict

[
    {"name": "Alice", "age": 23, "city": "Pune"},
    {"name": "Bob", "age": 25, "city": "Mumbai"},
    {"name": "Charlie", "age": 22, "city": "Delhi"}
]

In [ ]:
lambda x: x * x

def sq(x):
    return x * x

In [ ]:
lambda x: x % 2 == 0

def is_even(x):
    return x % 2 == 0

In [11]:
lambda s: len(s)

def get_len(x):
    return len(x)

In [ ]:
lambda a, b: a + b

def get_sum(a, b):
    return a + b

In [ ]:
lambda a, b: a if a > b else b

def is_greater_than(a, b):
    if a > b:
        return a
    else:
        return b

In [13]:
lambda first, last: f"{first} {last}"

def format(frist, last):
    return f"{first} {last}"

In [ ]:
def multiply_by_10(x):
    return x * 10

lambda x : x * 10

In [ ]:
def is_adult(age):
    return age >= 18

lambda age : age >= 18

In [ ]:
def get_username(email):
    return email.split("@")[0]

lambda email : email.split("@")[0]

In [ ]:
def rectangle_area(length, width):
    return length * width

lambda lenght, width : length * width

In [ ]:
def starts_with_a(name):
    return name.startswith("A")

lambda name : name.startswith("A")

In [ ]:
def calculate_total(price, tax):
    total = price + tax
    print("Total calculated")
    return total

total = lambda price, tax : price + tax

## Scenario: E-commerce Order Processing System

You run an online store.
You have orders. You want to:

* Filter valid orders
* Apply discounts
* Calculate totals

We’ll use:

* `lambda`
* `map`
* `filter`
* `reduce`

In [15]:
# Step 0 — Sample Data

orders = [
    {"id": 1, "customer": "Amit", "amount": 1200, "status": "completed"},
    {"id": 2, "customer": "Neha", "amount": 800, "status": "cancelled"},
    {"id": 3, "customer": "Raj", "amount": 1500, "status": "completed"},
    {"id": 4, "customer": "Sara", "amount": 400, "status": "completed"},
]

In [16]:
def get_completed_order(order):
    if order["status"] == "completed":
        return True
    else:
        return False

In [17]:
# filter() — Keep Only Valid Orders
# Only “completed” orders should be processed.
valid_orders = list(filter(get_completed_order, orders))
print(valid_orders)

[{'id': 1, 'customer': 'Amit', 'amount': 1200, 'status': 'completed'}, {'id': 3, 'customer': 'Raj', 'amount': 1500, 'status': 'completed'}, {'id': 4, 'customer': 'Sara', 'amount': 400, 'status': 'completed'}]

In [18]:
# filter() — Keep Only Valid Orders
# Only “completed” orders should be processed.
valid_orders = list(filter(lambda order: order["status"] == "completed", orders))
print(valid_orders)

[{'id': 1, 'customer': 'Amit', 'amount': 1200, 'status': 'completed'}, {'id': 3, 'customer': 'Raj', 'amount': 1500, 'status': 'completed'}, {'id': 4, 'customer': 'Sara', 'amount': 400, 'status': 'completed'}]

### What happened?

* Each order goes through the lambda
* If True → kept
* If False → removed

In [19]:
# map() — Apply Discount
# Apply 10% discount to all valid orders.

def apply_discount(order):
    order["amount"] = order["amount"] * 0.9
    return order

discounted_orders = list(
    map(apply_discount, valid_orders)
)
print(discounted_orders)

[{'id': 1, 'customer': 'Amit', 'amount': 1080.0, 'status': 'completed'}, {'id': 3, 'customer': 'Raj', 'amount': 1350.0, 'status': 'completed'}, {'id': 4, 'customer': 'Sara', 'amount': 360.0, 'status': 'completed'}]

In [20]:
# map() — Apply Discount
# Apply 10% discount to all valid orders.

discounted_orders = list(
    map(lambda order: {**order, "amount": order["amount"] * 0.9}, valid_orders)
)
print(discounted_orders)

[{'id': 1, 'customer': 'Amit', 'amount': 972.0, 'status': 'completed'}, {'id': 3, 'customer': 'Raj', 'amount': 1215.0, 'status': 'completed'}, {'id': 4, 'customer': 'Sara', 'amount': 324.0, 'status': 'completed'}]

In [ ]:
# map() — Apply Discount
# Apply 10% discount to all valid orders.
discount = 10
def apply_discount(order, discount=10):
    order["amount"] = order["amount"] * (1 - round(discount/100, 2))
    return order

discounted_orders = list(map(apply_discount, valid_orders))
discounted_orders = list(map(lambda order, discount: sdf, valid_orders))



discounted_orders = list(map(lambda order : apply_discount(order, discount), valid_orders))
print(discounted_orders)

What happened?

* We transformed each order
* We didn’t modify original data
* We created new updated versions

In [21]:
def add_amount(acc, order):
    return acc + order["amount"]

In [24]:
# reduce() — Calculate Total Revenue
# total revenue after discount

from functools import reduce

total_revenue = reduce(
    add_amount,
    discounted_orders,
    0
)

print(total_revenue)

2511.0

In [ ]:
# reduce() — Calculate Total Revenue
# total revenue after discount

from functools import reduce

total_revenue = reduce(
    lambda acc, order: acc + order["amount"],
    discounted_orders,
    0
)

print(total_revenue)

What’s happening internally?

acc = 0
0 + first_order
result + second_order
result + third_order

End result → one single number.

In [14]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

    This effectively reduces the iterable to a single value.  If initial is present,
    it is placed before the items of the iterable in the calculation, and serves as
    a default when the iterable is empty.

    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
    calculates ((((1 + 2) + 3) + 4) + 5).

In [39]:
x = [10, 9, 8, 5, 7, 9, 14, 1, 2, 3, 4, 5]
# dir(x)
help(x.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [30]:
x = x.sort()
print(x)

None

In [43]:
rows = [
    ["Alice", 23, "Pune"],
    ["Bob", 25, "Mumbai"],
    ["Charlie", 22, "Delhi"]
]

# rows.sort(key=lambda y : y[1])

In [37]:
rows

[['Charlie', 22, 'Delhi'], ['Alice', 23, 'Pune'], ['Bob', 25, 'Mumbai']]

In [42]:
y = sorted(x)
print(x)
print(y)

[10, 9, 8, 5, 7, 9, 14, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5, 7, 8, 9, 9, 10, 14]

In [47]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
rows = [
    ["Xlice", [abx, 23,bhas], , "Pune"],
    ["Bob", 25, "Mumbai"],
    ["Charlie", 22, "Delhi"]
]
sorted_rows = sorted(rows, key= lambda z : z[1])
print(rows)
print(sorted_rows)

[['Xlice', 23, 'Pune'], ['Bob', 25, 'Mumbai'], ['Charlie', 22, 'Delhi']]
[['Charlie', 22, 'Delhi'], ['Xlice', 23, 'Pune'], ['Bob', 25, 'Mumbai']]

In [ ]:
# Step 0 — Sample Data

orders = [
    {"id": 4, "customer": "Sara", "amount": 400, "status": "completed"},
    {"id": 2, "customer": "Neha", "amount": 800, "status": "cancelled"},
    {"id": 3, "customer": "Raj", "amount": 1500, "status": "completed"},
    {"id": 1, "customer": "Amit", "amount": 1200, "status": "completed"},
]

sorted_order = sorted(orders, key= lambda z : z["customer"])
print(sorted_order)

[{'id': 1, 'customer': 'Amit', 'amount': 1200, 'status': 'completed'}, {'id': 2, 'customer': 'Neha', 'amount': 800, 'status': 'cancelled'}, {'id': 3, 'customer': 'Raj', 'amount': 1500, 'status': 'completed'}, {'id': 4, 'customer': 'Sara', 'amount': 400, 'status': 'completed'}]

In [58]:
orders = {
    "order1" : {"id": 4, "customer": "Sara", "amount": 400, "status": "completed"},
    "order2" : {"id": 2, "customer": "Neha", "amount": 800, "status": "cancelled"},
    "order3" : {"id": 3, "customer": "Raj", "amount": 1500, "status": "completed"},
    "order4" : {"id": 1, "customer": "Amit", "amount": 1200, "status": "completed"},
}
print(list(orders.items()))

sorted_order = sorted(orders.items(), key = lambda a: a[1]["customer"])
# [(order1, {value})]
print(dict(sorted_order).keys())

[('order1', {'id': 4, 'customer': 'Sara', 'amount': 400, 'status': 'completed'}), ('order2', {'id': 2, 'customer': 'Neha', 'amount': 800, 'status': 'cancelled'}), ('order3', {'id': 3, 'customer': 'Raj', 'amount': 1500, 'status': 'completed'}), ('order4', {'id': 1, 'customer': 'Amit', 'amount': 1200, 'status': 'completed'})]
dict_keys(['order4', 'order2', 'order3', 'order1'])

In [60]:
sorted_order = sorted(orders, key = lambda a: orders[a]["customer"])
print(sorted_order)

['order4', 'order2', 'order3', 'order1']